/* layout clients */

.clients {
    @extend %section;
    background-color: var(--main-bg-cl);


    &__icon {
        fill: var(--border-clients-cl);
        transition: fill var(--anim-duration-timing);
    }
}

.clients__link {
    display: flex;

    height: 92px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--border-clients-cl);
    border-radius: 4px;

    transition: border-color var(--anim-duration-timing);

    &:hover .clients__icon,
    &:focus .clients__icon {
        fill: var(--accent-bg-cl);
    }

        &:hover,
        &:focus {
        border-color: var(--accent-bg-cl);
    }
}

.clients__link {
    width: 210px;

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clients__list {    
    --indent: 30px;
    --items: 2;

    @media screen and (min-width: 768px) {
        --items: 3;
    }
    
    @media screen and (min-width: 1200px) {
        --items: 6;
    }

    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}

        
