/* layout features */

.features {
    @extend %section;

    &__subtitle {
        color: var(--second-cl);
        margin-bottom: 10px;
    }

    &__descr {
        color: var(--main-cl);
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__icons {
        display: flex;
        width: 100%;
        height: 120px;
        background: var(--rare-bg-cl);
        border-radius: 4px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        outline: 1px solid green;
    }
}

.features__list {
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin: -15px;
}

@media screen and (max-width: 480px) {
    .features__item {
        flex-basis: 450px;
    }
}

@media screen and (min-width: 768px) {
    .features__item {
        flex-basis: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .features__item {
        flex-basis: 270px;
    }
}

@media screen and (min-width: 768px) {
    .features__list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .features__subtitle {
        display: flex;
        justify-content: center;
    }
}

.features__list {
    --indent: 30px;
    --items: 1;

    @media screen and (min-width: 768px) {
        --items: 2;
    }

    @media screen and (min-width: 1200px) {
        --items: 4;
    }
}